# Git ignore file 
# ------------------------
# Python compiled files
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/

# ------------------------
# Virtual environments
# ------------------------
.venv/
venv/

# ------------------------
# Tools / caches
# ------------------------
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ------------------------
# Editors / OS files
# ------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ------------------------
# Environment / secrets
# ------------------------
.env
.env.*
